<app-navbar (mapClicked)="changeMap($event)"></app-navbar>
<router-outlet></router-outlet>
<!-- Mobile view
<div fxHide fxShow.lt-md>
  <mat-sidenav-container class="sidenav-container" style="height: calc(100vh - 56px)" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="over">
      <app-details></app-details>
    </mat-sidenav>

    <div class="sidenav-content" style="height: calc(100vh - 56px)">
      <app-map [mapId]="mapId" (click)="sidenav.toggle()"></app-map>
    </div>

  </mat-sidenav-container>
</div> -->
