/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Merienda:wght@700&display=swap');

/* Elements */

h1 {
  font-family: "Roboto";
  font-weight: 900;
}

/* Classes */

.content {
  padding: 5%;
  max-height: 800px;
  overflow: auto;
}

.details-menu {
  margin-bottom: 1rem;
}

.edit-form-container {
  background-color: #424242;
}

::ng-deep .ql-toolbar {
  background-color: #D5B783 !important;
}
