<div class="navbar">
  <mat-toolbar>
    <span>Fantasy Maps</span>
    <span class="navbar-spacer"></span>
    <!-- Desktop navigation -->
    <button mat-button (click)="GoTo('forgotten-realms')">Forgotten Realms</button>
    <button mat-button (click)="GoTo('highrock')">High Rock</button>
  </mat-toolbar>
  <!--
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#!" class="brand-logo">Fantasy Maps</a>
      <a href="" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
    <li><a (click)="GoTo('forgotten-realms')">Forgotten Realms</a></li>
    <li><a (click)="GoTo('highrock')">High Rock</a></li>
  </ul>
</div>
  </nav>
<ul class="sidenav" id="mobile-nav">
  <li><a (click)="GoTo('forgotten-realms')">Forgotten Realms</a></li>
  <li><a (click)="GoTo('highrock')">High Rock</a></li>
</ul>-->
</div>
