/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Merienda:wght@700&display=swap');

/* Classes */

.brand-logo {
    font-family: "Handlee";
    font-weight: 900;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.login-button {
    margin-left: 1rem;
}
