<div class="navbar">
  <mat-toolbar fxShow fxHide.lt-md>
    <span class="brand-logo">Fantasy Maps by Peter Vertesi</span>
    <button *ngIf="!isAuth" mat-button class="login-button" (click)="onOpenLogin()"><fa-icon [icon]="icons.login"></fa-icon> Login</button>
    <button *ngIf="isAuth" mat-button class="login-button" (click)="onProfile()"><fa-icon [icon]="icons.user"></fa-icon>  {{currentUser.username}} </button>
    <button *ngIf="isAuth" mat-button class="login-button" (click)="onLogout()"><fa-icon [icon]="icons.logout"></fa-icon> Logout</button>
    <span class="navbar-spacer"></span>
    <!-- Desktop navigation -->
    <div class="navmenu-desktop">
      <button *ngFor="let map of maps" mat-button (click)="navigateTo(map.id)">{{map.title}}</button>
      <!-- <a mat-button href="/map/forgotten-realms">Forgotten Realms</a> -->
    </div>
  </mat-toolbar>
  <mat-toolbar fxHide fxShow.lt-md>
    <span class="navbar-spacer"></span>
    <span class="brand-logo">Fantasy Maps</span>
    <span class="navbar-spacer"></span>
    <!-- Menu button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu icon button">
      <fa-icon [icon]="icons.map"></fa-icon>
    </button>
    <!-- Mobile navigation -->
    <div class="navmenu-mobile">
      <mat-menu #menu="matMenu">
        <button *ngFor="let map of maps" mat-button (click)="navigateTo(map.id)">{{map.title}}</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
