<div style="height: 90vh;"
     leaflet 
     [leafletOptions]="mapOptions"
     [leafletLayersControl]="layersControl"
     [(leafletZoom)]="currentZoom"
     [(leafletCenter)]="currentCenter"
     (leafletMapReady)="onMapReady($event)"
     (leafletClick)="onClick($event)"
     (leafletMapZoomEnd)="onZoom($event)">
     <div [leafletLayers]="baseLayer"></div>
     <!-- <div *ngIf="currentZoom >= 3" [leafletLayers]="geoJsonLayer"></div> -->
     <div *ngIf="currentZoom >= 3" [leafletLayers]="layers"></div>
</div>