/* You can add global styles to this file, and also import other style files */

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://nagoshiashumari.github.io/Rpg-Awesome/stylesheets/rpg-awesome.min.css');

/* Styles */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #D5B783;
}

h1 {
  font-family: "Handlee";
}

.custom-map-marker-container {
  text-align: center;
}

.custom-map-marker {
  border: 1px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0;
  background: rgba(100, 100, 100, 0.75);
  transform: rotate(-45deg);
}

.custom-map-marker > .ra, .fa {
  color: #fff;
  position: absolute;
  top: 6px;
  right: 6px;
  transform: rotate(45deg);
}
